.black {
    background-color: rgb(117, 58, 58);
}

.white {
    background-color: wheat;
}

.box {
    width: 100px;
    height: 100px;
}

.row {
    display: flex;
}

.figure-wrapper {
    margin: 10px 10px;
    background-repeat: no-repeat;
    background-size: auto;
}

.figure {
    width: 75px;
    height: 75px;
}

.play {
    margin: 15px 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: cadetblue;
}

.x-numbers {
    font-size: medium;
}

.files-prefix-box {
    margin-left: 10px;
}
